@mainAsideWidth: 170px;

#searchGoogle                  { background: #F1F1F1; overflow: hidden; height: 50px; }
.googleLogo,
.search input                  { float: left; width: 510px; height: 25px; margin: 8px; display: block; }
.googleLogo                    { width: @mainAsideWidth; }
.profileMenu                   { float: right; overflow: hidden; }

.profileMenu a                 { color: #666666; text-decoration: none; font-size: 15px; }

.profileMenu,
.googleLogo                    { margin-top: 10px}

#searchButton                  { background: none repeat scroll 0 0 #4D90FE; display: inline-block; height: 30px;
                                 margin-top: 10px; width: 75px;}