@mainAsideWidth: 170px;
@mainTopOffset:  115px;


body,
body > aside,
body > section                 { background: white; }

body > aside,
body > section                 { position: absolute; top: @mainTopOffset;}

body > aside                   { width: @mainAsideWidth; }
body > section                 { left: @mainAsideWidth; right: 15px; bottom: 0px; }





