<div id="searchGoogle">
    <div class="googleLogo">
        <img src="image/logo-google.png">
    </div>
    <div class="search">
        <form class="navbar-form pull-left">
            <input type="text" placeholder="Search Calendar"/>
            <button type="button" class="btn btn-primary">
                <span class="icon-search icon-white"></span>
            </button>
        </form>
    </div>
    <div class="profileMenu">
        <a href="#">Max Bugel</a>
        <button class="btn" type="button">0</button>
        <button class="btn" type="button">+Share</button>
        <img src="image/photo.png">
    </div>
</div>
