<style type="text/css">
    .calendar-body      { background: red; position: absolute; top: 20px; left: 0; right: 0; bottom: 0; overflow: auto;}
    .calendar-header    { background: green;}
    .events             { background: url(style/img/tableBack.png) #ffffff; margin-left: 100px; overflow: hidden; }
    .time               { background: yellow; float: left; width: 100px; }

    .events .col        { position: relative; padding: 0 1px 0 0;  border-right: 1px solid #dddddd; height: 1000px}
    .events .col.active { background: rgba(221,221,221,.4)}
</style>


<div class="calendar-header">
    header
</div>
<div class="calendar-body">
      <div class="time">
         00:00
      </div>
      <div class="events">
          <div class="grid-row">
              <div class="grid_7 col">sd</div>
              <div class="grid_7 col active"> asdf</div>
              <div class="grid_7 col"> asdf</div>
              <div class="grid_7 col"> asdf</div>
          </div>


      </div>
</div>
